@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@import url(/public/fonts/VerizonNHGDS-Regular.ttf);
@import url(/public/fonts/VerizonNHGDS-Bold.ttf);

@font-face {
  font-family: VerizonFont;
  src: url(/public/fonts/VerizonNHGDS-Regular.ttf);
}

@font-face {
  font-family: VerizonBold;
  src: url(/public/fonts/VerizonNHGDS-Bold.ttf);
}


h1 {
  font-size: calc(1.6rem + 1.5vw);
  font-family: VerizonBold;
  color: white;
  font-weight: bold;
  line-height: calc(30px + 1vw);
}

h2 {
  font-size: calc(1rem + 1.5vw);
  font-family: VerizonBold;
  color: white;
  font-weight: bold;
  line-height: calc(30px + 1vw);
}

p {
  font-size: calc(12px + .5vw);
  font-family: VerizonFont;
  color: white;
  font-weight: lighter;
  line-height: calc(20px + .1vw);
}

span {
  color: #939393;
  font-size: calc(4pt + 1.5vw);
  font-family: VerizonFont;
  font-weight: lighter;
  line-height: 10px;
}

.btn {
  @apply text-base p-3 w-36 font-bold text-black transition duration-300 ease-in-out rounded-full bg-white hover:scale-110;
}